.frame {
	box-sizing: border-box;
	box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.15),
	inset -2px -2px 3px rgba(0, 0, 0, 0.05),
	inset 1px 1px 1px rgba(0, 0, 0, 0.1),
	inset 2px 2px 3px rgba(255, 255, 255, 0.5);
	/*color shadows*/
	display: block;
	padding: 3px;
	background-image: url("http://www.transparenttextures.com/patterns/grunge-wall.png")
}

.container-masonry {
	margin-top: -1.2rem;
}

.imageWrapper {
	box-sizing: border-box;
	padding: 1.2rem;
	display: block;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.99));
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.1), inset 0 0 4px rgba(0, 0, 0, 0.05);
}

.item {
	width: 100%;
	margin: 0;
	padding: 0;
}

.masonry-grid-item {
	padding: 1rem;
}

.masonry-grid-item img {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}