{% load static %}
<!-- load page on the top fix -->
<script src="{% static '/gallery/js/load_on_the_top.js' %}"></script>
<!-- jquery -->
<script src="{% static '/vendor/jquery/3.5.1/js/jquery.min.js' %}"></script>
<script src="{% static '/vendor/shuffle.js/5.0.0/js/shuffle.min.js' %}"></script>
<script src="{% static '/gallery/js/grid_setup.js' %}"></script>
<!-- theme -->
<script src="{% static '/themes/neumorphism/js/neumorphism.js' %}"></script>
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
<!-- lazy images loader -->
<script src="{% static '/gallery/js/lazy_loader.js' %}"></script>
<!-- header setup -->
<script src="{% static '/gallery/js/init_header.js' %}"></script>
<!-- menu -->
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mmenu.min.js' %}"></script>
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mhead.js' %}"></script>
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mburger.js' %}"></script>
<!-- lightboxes -->
<script src="{% static '/vendor/fancybox/3.5.7/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static '/vendor/fancybox/3.5.7/js/fullscreen.js' %}"></script>