{% load static %}

<!-- jquery -->
<script src="{% static '/vendor/jquery/3.5.1/js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static '/vendor/bootstrap/4.5.3/js/bootstrap.min.js' %}"></script>
<!-- grid -->
<script src="{% static '/vendor/isotope/3.0.6/js/isotope.min.js' %}"></script>
<script src="{% static '/vendor/isotope/3.0.6/js/isotope.packery.min.js' %}"></script>
<!-- menu -->
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mmenu.min.js' %}"></script>
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mhead.js' %}"></script>
<script src="{% static '/vendor/mmenu.js/8.5.19/js/mburger.js' %}"></script>
<!-- lightboxes -->
<script src="{% static '/vendor/fancybox/3.5.7/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static '/vendor/fancybox/3.5.7/js/fullscreen.js' %}"></script>
<!-- theme -->
<script src="{% static '/themes/neumorphism/js/neumorphism.js' %}"></script>

<!-- PLUGINS USAGE -->
<script src="{% static '/gallery/js/init_header.js' %}"></script>
<script src="{% static '/gallery/js/scroll_to_top_button.js' %}"></script>

