.masonry-grid-item {
	padding: 9px;
	width: 25%;
}

img {
	box-sizing: border-box;
	width: 100%;
}

@media handheld,
only screen and (max-width:1200px) {
	.masonry-grid-sizer {
		width: 33.3333%;
	}
	.masonry-grid-item {
		width: 33.3333%;
	}
}

@media handheld,
only screen and (max-width:1020px) {
	.masonry-grid-sizer {
		width: 50%;
	}
	.masonry-grid-item {
		width: 50%;
	}
}

@media handheld,
only screen and (max-width:720px) {
	.masonry-grid-sizer {
		width: 100%
	}
	.masonry-grid-item {
		width: 100%;
	}
}