{% extends 'gallery/base.html' %}
{% load static %}

{% block static_CSS %}
    {% include 'gallery/partials/imports/import-static-css.html' %}
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/gallery/css/fancybox_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/gallery/css/pages/skeuomorphic_frame.css' %}">
{% endblock %}

{% block navigation %}
    {% include 'gallery/partials/elements/nav-bar.html' %}
{% endblock %}

<!-- main -->
{% block content %}
    <div class="container">
        <div class="flex-row m-0 p-0">
            <div class="text-center jumbotron bg-primary m-0 pb-1 pt-5">
                <h1 class="badge badge-pill badge-primary text-gray text-uppercase"><b> {{ section.board.title }}</b></h1>
                <h1>
                    {{ section.title }}
                </h1>
                    <ul class="pagination circle-pagination pagination-sm justify-content-center">
                        {% if page_obj.number > paginate_limit.0 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    <i class="fas fa-angle-double-left"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active disabled">
                                    <a class="page-link rounded" href="#">
                                        <b>{{ i }}</b>
                                        <span class="sr-only">current</span>
                                    </a>
                                </li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link rounded" href="?page={{ i }}">
                                        <b>{{ i }}</b>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.number <= page_obj.paginator.num_pages|add:paginate_limit.1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                        <i class="fas fa-angle-double-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </div>
        <div class="masonry-grid row-grid">
           {% for pin in pins %}
               <div class="masonry-grid-item col-xs-11 col-md-6 col-lg-4 p-3">
                   <div class="shadow-soft border-0 d-block">
                           <a data-fancybox="{{ section.slug }}"
                              data-type="image"
                              href="{{ pin.image_url }}"
                              data-caption="{{ pin.title }}"
                              class="frame">
                       <figure class="imageWrapper" style="background-color:{{ pin.color }}">
                               <img data-srcset="{{ pin.medium_image_url }}"
                                    width="{{ pin.width_m }}"
                                    height ="{{ pin.height_m }}"
                                    alt="{{ pin.title }}"
                                    class="image lazy d-block"
                                    style="color: white"/>
                       </figure>
                           </a>
                   </div>
               </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}

{% block menu %}
    {% include 'gallery/partials/elements/menu.html' with mode="showcase" %}
{% endblock %}

{% block static_JS %}
    {% include 'gallery/partials/imports/import-static-js.html' %}
{% endblock %}

{% block page_scripts %}
    {% include 'gallery/partials/scripts/script_init_fancybox.html' with mode='fullscreen' section_slug=section.slug only %}
{% endblock %}

